[build-system]
requires = ["setuptools >= 61.0"]
build-backend = "setuptools.build_meta"

[project]
name = "scrapy-influxdb-exporter"
version = "1.1.4"
authors = [{ "name" = "Stefano Fusai", "email" = "stefanofusai@gmail.com" }]
description = "A simple package to export Scrapy spider stats to InfluxDB"
readme = "README.md"
requires-python = ">=3.11"
dependencies = ["influxdb3-python", "scrapy"]

[project.urls]
Homepage = "https://github.com/stefanofusai/scrapy-influxdb-exporter"
Repository = "https://github.com/stefanofusai/scrapy-influxdb-exporter"

[tool.mypy]
python_version = "3.12"
strict = true

[tool.ruff.lint]
select = [
    "B",
    "C4",
    "D",
    "DTZ",
    "E",
    "ERA",
    "F",
    "FLY",
    "G",
    "I",
    "ICN",
    "INT",
    "ISC",
    "LOG",
    "N",
    "NPY",
    "PD",
    "PERF",
    "PIE",
    "PL",
    "PT",
    "PTH",
    "PYI",
    "Q",
    "RET",
    "RSE",
    "RUF",
    "S",
    "SIM",
    "SLF",
    "T10",
    "T20",
    "TD",
    "TID",
    "TRY",
    "UP",
    "W",
]
ignore = ["D100", "D104", "D203", "D213"]
